.app-filter-nav {
  // grid-area: filter-nav;
  width: 100%;
  border-top: 1px solid $gray1;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 42px;
  .filter-container {
    width: 93%;
    height: 100%;
    position: relative;

    .carousel-container {
      
     li {
      
      width: 120px !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70px;
      font-size: 14px;
      margin-left: 10px;
      margin-right: 10px;
      
     }
    }

    .react-multi-carousel-list .react-multi-carousel-track .react-multi-carousel-item  {
        .filter-nav-item{
        opacity: 0.7;
        text-decoration: none;
        color: black;

        &.active {
          opacity: 1;
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          img {
            width: 26px;
            height: 26px;
          }
        }
        
    }
  }

  }
}