body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.app-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 311px));
  // gap: 16px;
  width: 100%; /* Use width instead of max-width */
  box-sizing: border-box; /* Includes padding in width calculation */
  justify-content: center;
  align-content: center;
  gap: 15px;

  .gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    flex-basis: 300px;
    gap: 10px;
    
    .item-content-wrapper{
      display: flex;
      flex-direction: column;
      width: 100%;
      > * { /* Direct children selector */
        margin: 0; /* Reset margin */
        padding: 0; /* Reset padding */
      }
      .middle-line{
        color: $gray2;
      }
      .top-line{
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .item-image {
  height: 300px; /* Set a constant height */
  width: 300px; /* Allow proportional width resizing */
  max-width: 100%; /* Ensure it doesn't exceed container's width */
  object-fit: contain; /* Resize proportionally without cropping */

  img {
    height: 100%;
    border-radius: 15px;
  }
}

/* Adjust grid and images for smaller screens */
@media (max-width: 680px) {
  .app-gallery {
    grid-template-columns: 1fr; /* Single column layout */
    gap: 10px;
  }

  .item-image {
    height: 300px; /* Adjust height for smaller screens */
    width: 300px; /* Keep proportional resizing */
  }
}
}

