.app-header {
  // display: flex; // Ensure the parent is a flex container
  // align-items: center; // Align items vertically centered
  // justify-content: space-between; // Distribute space between items
  margin-bottom: 15px;

  background-color: $clr6;
  .user-info {
    color: $clr1;

    .score {
      background-color: $clr2;
      color: $clr6;
      padding: 8px;
      margin: 10px;
      border-radius: 50%;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .user-info .btn-link {
    color: $clr2;
  }

  nav {
    font-size: 0.8em;
    background-color: $clr6;
    padding: 5px;
  }

  nav a:first-child {
    margin-right: 30px;
  }

  nav a:not(:first-child) {
    border-top: 1px solid $clr1;
    padding: 0 5px;
    margin: 10px;
  }

  nav .active {
    color: $clr1;
  }
  .nav-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-bar-nav {
      display: flex;
      flex: 1; // Allow both to take equal space
      justify-content: center;
      align-items: center;
      gap: 12px;
      .nav-link {
        cursor: pointer;
        color: $gray5;
        &.active {
          font-weight: bold;
          color: $clr7;
        }
      }
    }
    .hamburger-menu {
      position: relative;
      position: relative;
      display: flex;
      align-items: center;
      gap: 15px;
      .hamburger-wrapper {
        display: flex;
        align-items: center;
        gap: 7px;
        padding: 5px 10px;
        border-radius: 25px;
        border: 1px solid rgb(221, 221, 221);
        width: fit-content;
        cursor: pointer;
        .avatar-icon,
        .hamburger-icon {
          color: $gray5;
        }
      }
      .glob-icon {
        color: $clr7;
      }
      .airbnb-text {
        color: $clr7;
      }
      .dropdown {
        position: absolute;
        top: 10px;
        left: 0;
        width: 200px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
      }
    }
    .app-logo {
      color: $clr1;
    }


  }

  .close-header {
    background-color: aqua;
  }



// .inactive-section {
//   background-color: $gray1;
// }
.checkout.active-section {
  border-radius: 90px !important;
}
.checkin.active-section {
  border-radius: 90px !important;
}

.active-section {
  background-color: white; /* or any other color you prefer for the active section */
  border-radius: 90px;
}

.search-bar-container {
  display: grid;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  .is-search-bar-open {
    background-color: $gray1;
  }

  .search-bar {
    display: flex;
    height: 80px;
    // align-items: center;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 90px;
    // width: 75vw;
    width: 850px;

    .popup-where {
      // &:hover {
      //   background-color: $gray1;
      // }
      display: grid;
      position: absolute;
      top: 207px;
      // margin-top: 95px;
      background-color: #fff;
      border-radius: 40px;
      box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
      z-index: 1;
      height: 450px;
      width: 700px;
      padding: 15px;
    
      .where-item-wrapper {
        display: grid;
        grid-template-rows: repeat(2, 1fr); /* 2 rows in the main wrapper */
        grid-template-columns: repeat(3, 1fr); /* 3 columns in the main wrapper */
        // gap: 10px; /* Space between cells */
        height: 100%; /* Fit wrapper height to parent */
        width: 100%; /* Fit wrapper width to parent */
        overflow: hidden; /* Prevent items from exceeding the wrapper */
      }
    
      .where-item {
        display: grid;
        align-items: center;
        overflow: hidden; /* Prevent content from exceeding the item */
        font-size: 14px;
        justify-items: center;
        
        img {
          max-width: 80%;
          max-height: 80%;
          object-fit: cover;
          border-radius: 20px;
          border: 3px solid $gray1;
        }
        cursor: pointer;
        &:hover {
          background-color: $gray1;
          border-radius: 20px;
        }

      }
    }

    .search {
      //&:hover {//        background-color: $gray1;
//      }

      flex-direction: row-reverse;
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .search-icon-wrapper {
        margin-right: 12px;
        // border-radius: 50px;
        background-color: #ff205f;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        transition: all 1s ease;
        border-radius: 90px;
        cursor: pointer;
        .search-icon {
          color: $clr6;
          border-radius: 50%;
          padding: 15.5px;

        }
        .slick-slide{
          width: 50px;
        }
        .search-text {
          width: 0;
          visibility: hidden;
          color: $clr6;
          // font-weight: bold;
          font-size: 16px;
        }
        &.open {
          border-radius: 90px;
          .search-text {
            width: unset;
            visibility: visible;
            margin-left: 13px;
          }
        }
      }
      // who

      .sreach-text-wrapper { 
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        .text-top {
          color: $clr7;
          font-size: 0.89rem;
          margin-left: 35px;
        }
        .text-bottom {
          color: $gray5_5;
          // text-align: end;
          font-size: 0.89rem;
          margin-left: 35px;
        }
        .where-text {
          color: $clr1;
        }
        .guestsDetails {
          display: flex;
          color: $clr7;
          font-size: 1rem;
        }
      }


      .popup-who {
        position: absolute;
        right: 0;
        top: 85px;
        background-color: $clr6;
        border-radius: 40px;
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.08);
        z-index: 1;
        width: 450px;
        height: 420px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 35px;
        .who-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 15px;
          padding: 15px 0;
          border-bottom: 1px solid $gray1;
          .who-content {
            .content-title {
              font-size: 18px;
              // font-weight: bold;
              color: $clr7;
            }
            .content-info {
              font-size: 14px;
              color: $gray3;
            }
          }
          .who-buttons {
            display: flex;
            align-items: center;
            gap: 7px;
            .who-counter {
              font-size: 16px;
            }
            .who-btn {
              font-size: 30px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .date {
      border-left: 1px solid $gray2;
      flex: 2;
    }
    .checkin {
      height: 100%;
      flex: 1;
      display: flex; // Ensure flexbox layout
      align-items: center; // Center items vertically
      justify-content: center;
      border-radius: 0;
      position: relative; // Position relative for pseudo-elements

      // Remove existing border
      border-left: none;

      // Add shorter border using a pseudo-element
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 49%; // Adjust this value to change the border length
        background-color: $gray2;
        left: 0;
        top: 25%; // Center the border vertically
      }

      .calendar-overlay {
        position: absolute;
        top: 70px;
        translate: -33.5%;

        .react-calendar {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 80px;
          padding-top: 40px;
          background-color: $clr6;
        }
      }
    }

    .checkout {
      //&:hover {//        background-color: $gray1;
//      }
      height: 100%;
      flex: 1;
      display: flex; // Ensure flexbox layout
      align-items: center; // Center items vertically
      justify-content: center;
      border-radius: 0;
      position: relative; // Position relative for pseudo-elements

      // Remove existing borders
      border-left: none;
      border-right: none;

      // Add shorter borders using pseudo-elements
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 49%; // Adjust this value to change the border length
        background-color: $gray2;
      }

      &::before {
        left: 0;
        top: 25%; // Center the border vertically
      }
      &::after {
        right: 0;
        top: 25%; // Center the border vertically
      }
    }
    .destination {
      flex: 2;
      height: 100%;
      justify-content: center;
      &.open {
        border-top-left-radius: 90px;
        border-bottom-left-radius: 90px;
        background-color: $gray1;
      }
    }

    .date,
    .checkin,
    .checkout,
    .destination {
      //&:hover {//        background-color: $gray1;
//      }

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: center;
      .text-top {
        color: $clr7;
        font-size: 0.8rem;
        margin-left: 35px;
      }
      .text-bottom {
        color: $gray5_5;
        text-align: end;
        font-size: 0.8rem;
        margin-left: 35px;
      }
      .date-text {
        color: $clr7;
        font-size: 1rem;
      }
      .where-text {
        color: $clr7;
        font-size: 1rem;
      }

    }
  }
}
}
