.filter-row-container {
  display: flex;
  // justify-content: center; /* Horizontally center */
  justify-content: space-around; /* Horizontally center */
  align-items: center;     /* Vertically center */
  gap: 50px;
}

.filter-row {
  display: flex;
  justify-content: center; /* Center contents horizontally */
  align-items: center;     /* Center contents vertically */
  overflow-x: auto; /* Allow horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
  scroll-behavior: smooth; /* Smooth scrolling */
  font-size: 2em;
  width: 100%; /* Take up full width for proper alignment */
}

.filter-row::-webkit-scrollbar {
  display: none; /* Hide scrollbar (optional) */
}

.filter-row-button {
  background-color: $clr6;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 2em;
}

.filter-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* You can adjust this size */
  height: 50px; /* Adjust this size */
  opacity: 0.65;
  margin: 0 10px; /* Add margin to control spacing between items */
}

.filter-nav-item:hover {
  cursor: pointer;
  opacity: 1;
}

.image-wrapper {
  position: relative; /* Ensure the overlay is positioned correctly */
}

.image {
  display: block;
  width: 30px; /* Set your desired image width */
  height: auto; /* Maintain aspect ratio */
}

.image-overlay {
  display: none;
  position: absolute;
  color: black;
}

.image-wrapper:hover .image-overlay {
  opacity: 1; /* Show the text on hover */
  display: block;
}
